# Security Token (L'application Android doit envoyer ce token en Bearer)
AUTH_TOKEN=betpro-secret-token-1234

# Identifiants de connexion Betika
BETIKA_PHONE=
BETIKA_PASSWORD=

# Identifiants de connexion Betpawa
BETPAWA_PHONE=
BETPAWA_PASSWORD=
